@media only screen and (min-width: 650px) {
  .search-bar {
    width: 40%;
    margin: 10px;
    margin-left: 15px;
  }
  .ingredients-and-recipes {
    display: flex;
    flex-direction: row;
  }
  .recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pantry {
    display: flex;
    flex-direction: column;
  }
  .ingredient-list {
    max-height: 80%;
    overflow: auto;
    width: 40%;
    margin: 10px;
    border-style: groove;
    background-color: "#F5F5F5";
  }
}
@media only screen and (max-width: 650px) {
  .search-bar {
    width: 80%;
    margin: auto;
  }
  .pantry {
    display: flex;
    flex-direction: column;
  }
  .ingredient-list {
    max-height: 80%;
    overflow: auto;
    width: 80%;
    margin: auto;
    border-style: groove;
    background-color: "#F5F5F5";
  }
  .ingredients-and-recipes {
    display: flex;
    flex-direction: column;
  }
}
.ingredients {
  display: flex;
  flex-direction: column;
}
.add-ingredient {
  display: flex;
  flex-direction: row;
}
.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ingredients-and-recipes {
  display: flex;
  flex-direction: column;
}
