.navbar {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 70px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  color: rgb(92, 89, 89);
  text-decoration: none;
  margin: 20px;
  text-align: center;
  padding-bottom: 6px;
}

.navbar .rightSide .reOrder {
  background-color: transparent;
  border: none;
  color: rgb(12, 12, 12);
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }
  .navbar #open a {
    width: 50px;
    margin: 5px;
    font-size: 15px;
  }
  .navbar .leftSide img {
    width: 0px;
  }
  .navbar #close .hiddenLinks {
    display: none;
    margin-left: 0px;
  }
  .navbar .rightSide button {
    display: none;
  }
  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide .reOrder {
    display: inline-block;
    position: relative;
    padding: 0px;
    top: 2px;
    right: 2px;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide .reOrder {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
